/* src/styles/AdminSubscriptionsPage.css */
.admin-subscriptions-page {
  min-height: 100vh;
  background: #121212;
  padding: 60px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #f5f5f5;
}

.admin-subscriptions-container {
  max-width: 1600px !important;
  margin: 0 auto;
}

.admin-subscriptions-title {
  text-align: center;
  font-size: 2.8em;
  color: #e6c843;
  margin-bottom: 50px;
  font-weight: 600;
}

.btn-issue-sub {
  display: block;
  width: fit-content;
  margin: 0 auto 50px;
  background: #e6c843;
  color: rgb(0, 0, 0);
  padding: 16px 50px;
  border-radius: 12px;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(231, 111, 81, 0.3);
}

.btn-issue-sub:hover {
  background: #e6c843;
  transform: translateY(-3px);
}

.admin-subscriptions-table {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.admin-subscriptions-table th {
  background: #2a2a2a;
  color: #e6c843;
  padding: 16px;
  font-size: 1.2em;
  text-align: center;
}

.admin-subscriptions-table td {
  padding: 16px;
  text-align: center;
  color: #ddd;
  font-size: 1.1em;
}

.status-active { background: #2a9d8f; color: white; padding: 6px 16px; border-radius: 20px; }
.status-inactive { background: #666; color: #ccc; padding: 6px 16px; border-radius: 20px; }

.pagination { margin-top: 50px; gap: 10px; }

.page-link {
  background: rgba(255,235,59,0.08);
  color: #e6d223;
  border: 1.5px solid #000000;
  padding: 9px 16px;                 /* было 12px 20px */
  border-radius: 40px;
  font-size: 0.95em;
}

.page-link:hover {
  background: #ffeb3b;
  color: #000;
  transform: scale(1.05);
}

.page-item.active .page-link {
  background: #ffeb3b;
  color: #000;
  box-shadow: 0 0 20px rgba(255,235,59,0.5);
}
