.list-btn-add {
  display: block;
  width: fit-content;
  margin: 0 auto 50px;
  background: #e6c843;
  color: rgb(0, 0, 0);
  padding: 14px 40px;
  border-radius: 12px;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(231, 111, 81, 0.3);
  transition: all 0.3s;
}

.list-btn-add:hover {
  background: #e6c843;
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(231, 111, 81, 0.4);
}

.admin-list-buttons {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btn-list-edit,
.btn-list-delete {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px !important;
  border-radius: 12px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  font-size: 0.95em !important;
  transition: all 0.3s;
  min-width: 100px;
  text-align: center;
  box-sizing: border-box;             
  line-height: 1;
}

.btn-list-edit {
  background: #504e4e !important;
  color: #ff8c00 !important;
  border: 1px solid #ff8c00 !important;
}

.btn-list-edit:hover {
  color: #ff8c00 !important;
  background: #000000 !important;
  transform: translateY(-3px);
}

.btn-list-delete {
  background: #504e4e !important;
  color: #ff4444 !important;
  border: 1px solid #ff4444 !important;
}

.btn-list-delete:hover {
  background: #000000 !important;
  color: #ff4444 !important;
  transform: translateY(-3px);
}
