/* src/styles/KidForm.css */
.kid-form-page {
  min-height: 100vh;
  background: #121212;
  padding: 60px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.kid-form-container {
  max-width: 800px;
  margin: 0 auto;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.kid-form-title {
  text-align: center;
  font-size: 2.6em;
  color: #e6c843;
  margin-bottom: 40px;
  font-weight: 600;
}

.kid-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.kid-error {
  color: rgb(209, 61, 61) !important;
}

.form-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}



.form-group label {
  color: #e6c843;
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 500;
}

.form-label {
  display: block;
  color: #e6c843;
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 500;
}

.form-input,
.kid-form select {
  background: #2a2a2a;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 14px 16px;
  font-size: 1.2em;
  color: #e6c843;
}

.form-age-input {
  background: #2a2a2a;
  border: 2px solid #444;
  border-radius: 10px;
  color: #e6c843;
  padding: 14px 16px;
  font-size: 1.2em;
  max-width: 160px;
}

.form-input:focus,
.kid-form select:focus {
  outline: none;
  border-color: #e6c843;
  box-shadow: 0 0 0 3px rgba(244, 162, 97, 0.2);
}

.form-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.btn-save {
  background: #e6c843;;
  color: rgb(0, 0, 0);
  padding: 16px 50px;
  border-radius: 12px;
  font-size: 1.4em;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  background:#555;
  color: #000000;
  padding: 16px 40px;
  border-radius: 12px;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

.btn-save:hover { background: #f8e434; }
.btn-cancel:hover { background: #949494; }
