.kid-form-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #d8d8d8, #704b88);
  padding: 60px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.kid-form-container {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #333;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.kid-form-title {
  text-align: center;
  font-size: 2em;
  color: #704b88 !important;
  margin-bottom: 40px;
  font-weight: 500;
}

.kid-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.kid-error {
  color: rgb(209, 61, 61) !important;
}

.kid-form-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}



.kid-form-group label {
  color: #704b88;
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 500;
}

.kid-form-label {
  display: block;
  color: #704b88;
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 500;
}

.kid-form-input,
.kid-form select {
  background: #ffffff;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 14px 16px;
  font-size: 1.2em;
  color: #704b88;
}

.kid-form-age-input {
  background: #ffffff;
  border: 2px solid #444;
  border-radius: 10px;
  color: #704b88;
  padding: 14px 16px;
  font-size: 1.2em;
  max-width: 160px;
}

.kid-form-input:focus,
.kid-form select:focus {
  outline: none;
  border-color: #704b88;
  box-shadow: 0 0 0 3px rgba(198, 97, 244, 0.2);
}

.kid-form-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.kid-btn-cancel {
  background: #c7cac5;
  color: #000000;
  padding: 12px 36px;
  border-radius: 12px;
  border: 2.5px solid transparent;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.kid-btn-cancel:hover {
  background: #ffffff;
  border-color: #c7cac5;
}

.kid-btn-save {
  background: #c68aee;
  color: rgb(0, 0, 0);
  padding: 12px 36px;
  border-radius: 12px;
  border: 2.5px solid transparent;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.kid-btn-save:hover {
  background: #ffffff;
  border-color: #c68aee;
}
